
body{
  padding: 0;
  margin: 0;
  height: 100vh;
  background-image: url("https://cdn.shopify.com/s/files/1/0265/4053/9982/files/AntaresImage1_1300x875.progressive.jpg?v=1598666650");
	background-repeat: repeat-x;
  background-size: cover;  
  opacity: 0.9;
  
}

.container{
  height: auto;
  max-width: 480px;
  margin: auto;
 /* background-color:#ffb3b3 ;*/
  text-align: center;
  padding-bottom: 50px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   margin-top: 100px;
  background-image: url('https://sm.mashable.com/mashable_in/photo/default/nasa-galaxy_9pu4.jpg');
 



}

.container>.icon{
  width: 33.33%;
  height: auto;
  margin: 50px auto;
}

form .btn{
  width: 49.5%;
  border: none;
  font-size: 16px;
  padding: 15px 0;
  color: #fff;
  background-color:#b51919 ;
  margin: 20px auto;
  text-align: center;
  margin-right: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: none;

}




.btn:hover{
  cursor: pointer;
  background-color: #ff3333; 
  transition: all 0.5s ease;
}

.btn-rnd{

  width: 100px !important;
  border-radius:50px;
 
}



form input{
  width: 100%;
  padding: 12px 0;
  overflow: hidden;
  border: none;
  margin: 12px auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

form input::placeholder{
  
  padding-left: 20px;
}






form input:focus{
  outline: none;
}



@media screen and (max-width: 600px) {
  
    
    .container {
      height: auto;
        width: 96%;
        
    }
}
