body,html{margin:0;padding:0;height:100%;}
body{background:#858585;box-shadow: inset 0 0 20vmin 0 #4d4d4d;}
.button {
  background-color: #4CAF50;
  width: 30%
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
